<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>George Langat - Personal Website</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <h2 style="color: blueviolet;">George Langat</h2>
    <nav>
      <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#resume">Resume</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section id="about">
      <h2>About Me</h2>
      <p>

        Education

Bachelor of Computer Science
Karatina University
Enrollment: 2021 - Present
Relevant Courses:
Data Structures and Algorithms
Object-Oriented Programming
Web Development with Python
Database Management Systems
Professional Focus

Full Stack Developer

      </p>
    </section>

    <section id="resume">
      <h2>Resume</h2>
      <p>
        <b>Skills:</b>
<br>- Programming: Proficient in Python, Django web framework, familiar with c and c++.</br>
<br>- Web Development: HTML, CSS, Django.</br>
<br>- Data Analysis: NumPy, Pandas.</br>
<br>- Version Control: Git.</br>
<br>- Problem-Solving: Strong analytical and critical thinking skills.</br>
<br>- Secretary: Excellent organizational and administrative skills. Experience in handling meetings, managing schedules, and maintaining records.</br>
<br>- Public Speaking: Confident and effective public speaker. Able to deliver engaging presentations and communicate ideas clearly to diverse audiences.</br>
<br>- Pianist: Accomplished pianist with [mention years of experience]. Proficient in playing various musical genres and collaborating with other musicians.</br>
<br>- Choirmaster: Experienced choirmaster with a talent for leading and directing musical performances. Skilled in harmonizing voices and arranging music for choir performances.</br>

      </p>
    </section>

    <section id="portfolio">
      <h1>Portfolio</h1>
      <p>
        <b>Projects:</b>
        <br>- Weather App (Python): Developed a command-line weather application that retrieves and displays weather information based on user input.<br>

        <br>- Personal Website (HTML/CSS/Django): Designed and implemented a personal portfolio website using Django to showcase projects and skills.<br>

      </p>
    </section>

    <section id="contact">
      <h2>Contact</h2>
      <p>
        <br>George Langat<br>
       <br> 30100 Eldoret, Kenya<br>
        <br>Phone: 0714960102<br>
        <br>Email: georgeklangat@gmail.com<br>

      </p>
    </section>
  </main>

  <footer>
    <p>&copy; 2023 George Langat | Personal Website</p>
  </footer>
</body>
</html>